@font-face {
    font-family:"Roboto" ;
    src: url(../assets/font/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto","sans-serif";

}
